/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.w-max-content {width:max-content;overflow-x:auto;scrollbar-width: none;}

  .sidemenu .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 12px;
    top: 12px;
    cursor: pointer;
  }
 .sidemenu .bm-burger-bars {
    background-color: #D2DEDB;
  }
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .sidemenu .bm-cross {
    background: #4F423A;
  }
  .sidemenu .bm-cross-button {
    height: 36px;
    width: 36px;
  }
  .sidemenu .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F3EFE7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }

   .bm-overlay {
    background: rgba(0, 0, 0, 0) ;
  }
  body {background:#E2E8E7 !important;}

  .bm-item-list {
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
  }
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
  }
  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */

  -ms-overflow-style: none;  /* IE 10+ */
}

.related-item {
  scroll-snap-align: start;

}
/* purgecss start ignore */

.gridfade-enter {
  opacity: 0;
}

.gridfade-enter-active {
  animation-name: animateIn;
  animation-duration: 150ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  transform: translateZ(0);will-change: transform;

  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.gridfade-leave {

}

.gridfade-leave-active {
  animation-name: animateOut;
  animation-duration: 150ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
  position: absolute;
  transform: translateZ(0);will-change: transform;
}

.slugfade-enter .in {
  opacity: 0;
}

.slugfade-enter-active .in {
  animation-name: slugIn;
  animation-duration: 250ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
  transform: translateZ(0);will-change: transform;

}

.slugfade-leave .in {

}

.slugfade-leave-active .in {
  animation-name: slugOut;
  animation-duration: 250ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
  position: absolute;
  transform: translateZ(0);will-change: transform;

}


@keyframes slugIn {
  0% {
    opacity: 0;
    transform: scale(.9)  translateY(-8px);
  }
  
  100% {
    opacity: 1;
    transform: scale(1)  translateY(0);

  }
}
@keyframes slugOut {
  0% {
    opacity: 1;
    transform: scale(1)  translateY(0);
  }
  
  100% {
    opacity: 1;
        transform: scale(.9) translateY(-8px);

  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform:  translateY(-8px);
  }
  
  100% {
    opacity: 1;
    transform:  translateY(0);

  }
}
@keyframes animateOut {
  0% {
    opacity: 1;
    transform:  translateY(0);
  }
  
  100% {
    opacity: 1;
        transform:  translateY(-8px);

  }
}
/* purgecss end ignore */

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
